rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 100% Public Access for all tournament data to debug visibility
    match /{path=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
      
      match /brackets/{year} {
        allow read: if true;
        allow write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
