rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Completely public for now to fix the blocker
    match /{path=**} {
      allow read, write: if true;
    }
  }
}
